main {
    margin-top: 90px;
    /* ให้เนื้อหาหลักอยู่หลัง navbar และ header (30px + 60px) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}
